@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    height: 100%;
    width: 100%;
}

#map {
    height: 74vh;
}

#navigate-button {
    border: none;
    width: 47%;
    padding: 1em;
    background-color: black;
    color: white;
    border-radius: 1em;
    margin-top: 5%;
}

@media (max-width: 700px) {
    #map{
        height: 65vh;
        margin-left: 3.5%;
        margin-right: 3.5%;
    }
  }